@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Borel&family=Calistoga&family=Capriola&family=Exo:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Zetta:wght@100..900&family=Margarine&family=Matemasie&family=Murecho:wght@100..900&family=NTR&family=Noto+Emoji:wght@300..700&family=Patrick+Hand&family=Shantell+Sans:ital,wght@0,300..800;1,300..800&family=Tilt+Neon&family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Borel&family=Calistoga&family=Capriola&family=Exo:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Zetta:wght@100..900&family=Margarine&family=Matemasie&family=Murecho:wght@100..900&family=NTR&family=Noto+Emoji:wght@300..700&family=Patrick+Hand&family=Roboto:ital,wght@0,100..900;1,100..900&family=Shantell+Sans:ital,wght@0,300..800;1,300..800&family=Tilt+Neon&family=Titan+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("https://images.unsplash.com/photo-1582213782179-e0d53f98f2ca?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    background-color: rgba(0,0,0,0.5); /* camada preta semitransparente */
    background-blend-mode: darken;
}

header {
    background-color: aliceblue;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    overflow: hidden;
}

.menu-btns {
    display: flex;
    gap: 10px;
    flex-shrink: 0;
}
h3 {
    font-family: "Roboto", sans-serif;
}
.button-one, .button-two {
    font-family: "Roboto", sans-serif;
    color: rgb(17, 21, 87);
    border: none;
    cursor: pointer;
    min-width: 100px;
    height: 35px;
    border-radius: 20px;
    transition: background-color 0.3;
}

.button-one:hover {
    background-color: rgb(255, 201, 108);
}

.button-two:hover {
    background-color: rgb(255, 177, 68)
}

.button-one {
    background-color: aliceblue;
}

.button-two {
    background-color: aliceblue;
}

.hero {
    display: flex;
    height: calc(100vh - 80px);
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    text-align: center;  
    gap: 20px; 
}
.hero h1 {
    font-family: "Capriola", sans-serif;
    font-size: 50px;
    color: white;
}

.button-three {
    font-family: "Roboto", sans-serif;
    background-color: darkorange;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.4;
}
.button-three:hover {
    background-color: rgb(165, 104, 42);
}
